body
{
    margin: 0px; background-color: #202124; height: 4000px; padding-top: 76px;
}

.resume-view-title
{
    color:#e8eaed; font-weight: bold; font-size: 20px; letter-spacing: 5px;
}

.resume-input-title
{
    color:#e8eaed; font-weight: bold;font-size: 20px; letter-spacing: 5px;

}

/* START Header */

.header
{
    display: flex;
    flex-direction: row;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    align-items: center;
    background-color: #303134;
    position: fixed;
    box-shadow: 2px 4px 4px black;}


.banner-text
{
    color:#e8eaed;
    font-weight: bold;
    font-size: 40px;
    padding-left: 16px;
    font-family: 'Aleck Sans';
    letter-spacing: 5px;
}

/* END Header */



.body-grid
{
    display: grid;
    padding-left: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr;
    column-gap:100px;
}

.resume-view
{
    width: 816px;
    height: 1056px;
    background-color: aliceblue;
    margin: auto;
}

@font-face {
    font-family: 'Aleck Sans';
    src: url('ATTAleckSans_W_Bd.ttf') format('truetype'); /* Specify format separately */
}

@font-face {
    font-family: 'Aleck Sans Regular';
    src: url('ATTAleckSans_W_Rg.ttf') format('truetype'); /* Specify format separately */
}

@font-face   {
    font-family: 'Palatino Linotype'; 
    src: url("Pal.ttf") format('.ttf');
}


.resume-title{
    color: black;
    font-size: 28px;
    width: fit-content;
    font-family: "Palintino Linotype";
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0px;
    letter-spacing: 4px;
    margin: auto;
}

.address-section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 32px;
    margin-right: 32px;

}

.address1,.address2, .address3
{
    color: black;
    font-size: 12px;
    font-family: "Palintino Linotype";
    margin-left: 4px;
}

.section-title
{
    color: black;
    font-size: 18px;
    width: fit-content;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 0px;
    margin-left: 16px;
}

.bar
{
    background-color: black;
    left: 0px;
    right: 0px;
    height: 3px;
    margin-left: 32px;
    margin-right: 32px;
}

.education1
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 4px;
}

.bold-left
{
    color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    justify-self: start;
}

.bold-right
{
    color: black;
    font-size: 18px;
    width: fit-content;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    justify-self: end;

}

.education2
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 4px;
}


.ital-left
{
    color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    justify-self: start;
    font-style: italic;
}

.ital-right
{
    color: black;
    font-size: 18px;
    width: fit-content;
    font-family:'Times New Roman', Times, serif;
    justify-self: end;
    font-style: italic;
}


.entry-start, .entry-end, .entry-mid
{
    display: inline;
    color: black;
    font-size: 18px;
    width: fit-content;
    font-family:'Times New Roman', Times, serif;
    
}


.skill1
{
    margin-left: 32px;
    margin-right: 32px;
    padding-top: 4px;
}

.skill-type
{
    color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    justify-self: start;
    display: inline;
}


.skills-list
{
    color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    justify-self: start;
    display: inline;

}


.exp-title
{
    color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    justify-self: start;
}

.exp-local
{
    color: black;
    font-size: 18px;
    width: fit-content;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    justify-self: end;
}

.exp-name
{
    color: black;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    justify-self: start;
    font-style: italic;
}

.exp-date
{
    color: black;
    font-size: 18px;
    width: fit-content;
    font-family:'Times New Roman', Times, serif;
    justify-self: end;
    font-style: italic;
}



.input-bar
{
    height: 60px;
    background-color: #202124;
    border-color: rgb(139, 139, 139);
    border-radius: 5px;
    color:#ffffff;
    transition: opacity .15s;
    box-shadow: 10px 5px 5px black;
    padding-inline-start: 20px;
    font-size: 25px;

}


.input-bar:hover
{
    background-color: #303134;
    opacity: .7;

}

.button-style
{
    height: 60px;
    background-color: #202124;
    border-color: rgb(139, 139, 139);
    border-radius: 5px;
    color:#ffffff;
    transition: opacity .15s;
    box-shadow: 10px 5px 5px black;
    font-size: 40px;
}

.button-style:hover
{
    background-color: #303134;
    opacity: .7;
}



.input-three-inputs
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}


.input-two-inputs
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
}


.text-area-input
{

    height: 100px;
    background-color: #202124;
    border-color: rgb(139, 139, 139);
    border-radius: 5px;
    color:#ffffff;
    transition: opacity .15s;
    box-shadow: 10px 5px 5px black;
    font-size: 25px;
    padding-inline-start: 20px;

}






/* START Education Page Input Styles*/

.title-text-container{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.title-text{
    font-family: 'Aleck Sans';
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    margin-bottom: 20px;
    
}


.input-education-container {
    display: grid;
    grid-template-rows: repeat(8, auto);
    margin-left: 10vh;
    margin-right: 10vh;
}

.input-education-item{
    background: #303134;
    font-size: 14px;
    color: white;
    font-family:'Aleck Sans Regular';    
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5vh;
    width: 85%;
    height: 40%;
    border-width: solid;
    transition:  border-color .15s;
}

.input-education-item:hover{
    border-color: #00a8e0;
}

.input-education-labels{
    font-size: 14px;
    color: white;
    font-family: 'Aleck Sans';
    padding: 10px;
}

.input-two-column{
    display: grid;
    grid-template-columns: auto auto;
}

.input-two-row{
    display: grid;
    grid-template-rows: auto auto;
}

.input-one-row{
    display: grid;
    grid-template-rows: auto ;
}

.input-three-column{
    display: grid;
    grid-template-columns: auto auto auto;
    -ms-grid-column-align: 5vh;
    width: 90%;
}


.input-container-box{
    background: #303134;
    border-radius: 10px;
    width: 90%;
    height: fit-content;
    transition: border-color .15s;
    padding: 20px 20px 20px 40px;
    box-shadow: 2px 4px 4px black;
    margin: auto;
}

.submit-button{
    font-family: 'Aleck Sans';
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: #303134;
    width: 95%;
    border-style: bold;
    border-color: #ffffff;
    transition: border-color .15s;
}

.submit-button:hover{
    border-color: #00a8e0;
}


/* END Education Page Input Styles*/


.split-view-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}





